$navbar-light-color: blue;
$navbar-light-active-color: blue;
$navbar-light-brand-color: black;

$navbar-dark-color: white;
$navbar-dark-active-color: white;
$navbar-dark-brand-color: white;

$link-decoration: underline;
$link-hover-decoration: none;

$navbar-brand-font-size: 1.5rem;

a.nav-link {
  text-decoration: underline;
}