@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";


html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b1e21;
  font-family: 'Roboto Mono', monospace !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
img {
  height: 100vh;
}
.col {
  max-height: 1000px;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
}
.inline {
  display: inline-flex;
}
#body {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 28px;
  }
}