#left {
    height: 100vh;
    background-image: url("../../content/img/biopic_code.png");
    background-size: cover;
    background-position: center;
}
#right {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background: white;
}
.exit #right {
    right: 0;
    opacity: 1;
    position: absolute;
    transition: all .4s cubic-bezier(.9,0,.61,.61);
}
.exit-active #right {
    right: -59%;
    opacity: .2;
}
.exit #left {
    position: absolute;
    left: 0;
    opacity: 1;
    transition: all .4s cubic-bezier(.9,0,.61,.61);
}
.exit-active #left {
    left: -31%;
    opacity: .2;
}
.exit #body {
    overflow: hidden;
}
#body {
    max-height: 100vh;
}

@media only screen and (max-width: 767px) {
    #right {
        overflow: visible;
        max-height: none;
        flex: 1 1 auto;
        height: auto;
    }
    #left {
        background-position-y: -30vw;
        flex: 0 0 150px;
    }
    #body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: scroll;
        position: fixed;
        max-height: none;
    }
    .exit #right {
        right: auto;
        position: relative;
    }
    .exit-active #right {
        right: auto;
    }
    .exit #left {
        left: auto;
        position: relative;
    }
    .exit-active #left {
        left: auto;
    }
}