.exit#case-study {
    opacity: 1;
    transition: all .4s ease;
}
.exit-active#case-study {
    opacity: 0;
}
#case-study {
    min-height: 100vh;
}
.tab-1 {
    margin-left: 20px;
}
.tab-2 {
    margin-left: 40px;
}
.tab-3 {
    margin-left: 60px;
}
.tab-4 {
    margin-left: 80px;
}